@charset "utf-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@1.0/nanumbarungothicsubset.css");

.btn {
    &:not([disabled]) {
        &:hover,
        &:focus,
        &.active {
            box-shadow: none;
            -webkit-box-shadow: none;
        }
    }
    font-weight: 900;
    font-size: 1em;
    color: #fff;
    text-align:center;
    cursor:pointer;
    height: 50px;
    line-height: 58px;
    border-radius: 3px;
    box-shadow: 8px 8px 15px rgba(0,
            0,
            0,
            0.35);
}

.label-input {
    position: relative;
    margin-bottom: 10px;
    font-weight: bold;
    input[type="text"],
    input[type="password"] {
        height: 50px;
        line-height: 1;
        padding: 2px 15px 0 105px;
        box-sizing: border-box;
        color: #000;
        border: 1px solid #17a2b8;
        border-radius: 3px;
        &:hover, &:focus {
            border:1px solid #17a2b8
        }
        &.error {
            border-radius: 0;
            border:none;
            border-bottom: 1px solid $red;
        }
        &.complete {
            border-radius: 0;
            border:none;
            border-bottom: 1px solid $ssafy;
        }
        &.disabled {
            background: #eee;
            color:#333;
            font-weight: $f600;
            &:hover, &:focus {
                border:1px solid #000;
            }

        }
    }
    label {
        position: absolute;
        left: 15px;
        top: 19px;
        color: #17a2b8;
        font-weight: $f600;
        font-size: $font-size__5;
    }
    .error-text {
        color: $red;
        margin-top: 3px;
    }
}
.sns-login {
    background-color: white;
    border: none;
}