@charset "utf-8";

.feed-item{
    position: relative;
}
.feed-wrap{
    border: 1px solid rgba(194, 183, 183, 0.5);
    position : absolute;
    top : 30%;
    left : 30%;
    width : 40%;
}
.feed-top{
    border-bottom: 1px solid rgba(194, 183, 183, 0.5);
    padding-left: 1em;
    height : 3em;
    .user-info{
        margin-top: 0.8em;
        float: left;
    }
    .user-hospital{
        margin-top: 0.8em;
        margin-right: 1em;
        float : right;
        span{
            font-size: 0.7em;
            font-weight: 700;
            margin-left: 1em;
            color: #6E6E6E;
        }
    }
    img{
        margin-top: 0.5em;
        margin-right: 1em;
        width: 2em;
        height: 2em;
        float: left;
    }

}

.feed-card{
    border-bottom: 1px solid rgba(194, 183, 183, 0.2);
    img{
        width: 100%;
    }
    //span은 임시
    span{
        color: rgb(194, 183, 183);
    }
}

.feed-foot{
    padding-top: 0.5em;
    height : 6em;
    .feed-btn-list, .reply-list{padding-left: 1em;}
    .feed-btn-list div{
        font-size: 1.4em;
        margin-right: 0.7em;
    }
    .feed-btn-list{
        .like, .reply{float: left;}
    }
    .reply-list{
        img{
            margin-top: 0.5em;
            margin-right: 0.5em;
            width: 2em;
            height: 2em;
            float: left;
        }
        .user-info{
            margin-top: 0.8em;
            float: left;
        }
        .reply-content{
            width : 70%;
            margin-top: 0.7em;
            margin-left: 1em;
            margin-right: 1em;
            padding-left: 1em;
            border-radius: 1em 1em 1em 1em;
            border: 1px solid rgba(194, 183, 183, 0.7);
        }
        .reply-submit{
            color: #17a2b8;
            font-weight: bold;
        }
    }
    
}