@media (min-width: 1500px){
  .modal-lg {
    max-width: auto !important;
  }
}
.feed-reply-modal{
  border: 1px solid rgba(194, 183, 183, 0.5);
  float: left;
  width : 65%;
  height: 100%;
}
.profile-image{
  border-radius: 100px 100px 100px 100px;
}
.feed-top-modal{
  border-bottom: 1px solid rgba(194, 183, 183, 0.5);
  padding-left: 1em;
  height : 3em;
  .user-info-modal{
    margin-top: 0.8em;
    float: left;
  }
  .user-hospital-modal{
    margin-top: 0.8em;
    margin-right: 1em;
    float : right;
    span{
      font-size: 0.7em;
      font-weight: 700;
      margin-left: 1em;
      color: #6E6E6E;
    }
  }
  img{
    margin-top: 0.5em;
    margin-right: 1em;
    width: 2em;
    height: 2em;
    float: left;
  }
}

.feed-card-modal{
  width : 100%;
  height: 100%;
  .feed-content{
    height : 100%;
    div{
      padding : 0em;
    }

  }
  div{
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
  }
  img{
    height : 31.5em;
    width: 44em;
  }
  //span은 임시
  span{
    color: rgb(194, 183, 183);
  }
}

.feed-foot-modal{
  height: 40em;
  border-right: 1px solid rgba(194, 183, 183, 0.5);
  border-bottom: 1px solid rgba(194, 183, 183, 0.5);
  border-top: 1px solid rgba(194, 183, 183, 0.5);
  width : 35%;
  float : left;
  .feed-btn-list, .reply-list{padding-left: 1em;}
  .feed-btn-list div{
    font-size: 1.4em;
    margin-right: 0.7em;
  }
  .feed-btn-list{
    .like, .reply{float: left;}
    padding-top: 0.5em;
  }
  .feed-reply-content{
    border-bottom: 1px solid rgba(194, 183, 183, 0.5);
    height: 82.5%;
    overflow:auto;
    
    .feed-reply{
      margin-bottom: 1em;
      img{
        margin-top: 0.5em;
        margin-right: 0.5em;
        margin-left: 0.5em;
        width: 2em;
        height: 2em;
        float: left;
      }
      .user-info{
        margin-top: 0.8em;
        float: left;
        font-weight: 700;
        color: #17a2b8;
      }
      .reply{
        margin-left: 1em;
      }
      .reply-time{
        margin-left: 1em;
        span{
          font-size: 0.8em;
          color: rgba(194, 183, 183, 0.8);
        }
      }
    }
  }
  .reply-list{
      img{
        margin-top: 0.5em;
        margin-right: 0.5em;
        width: 2em;
        height: 2em;
        float: left;
      }
      .user-info{
        margin-top: 0.8em;
        float: left;
      }
      .reply-content{
        width : 70%;
        margin-top: 0.7em;
        margin-left: 1em;
        margin-right: 1em;
        padding-left: 1em;
        border-radius: 1em 1em 1em 1em;
        border: 1px solid rgba(194, 183, 183, 0.7);
      }
      .reply-submit{
        color: #17a2b8;
        font-weight: bold;
      }
  }
  
}

.rating-text-modal{//모달쪽
  font-weight: bold;
  font-size: 1.1em;
  padding-left: 10px;
  padding-top: 3px;
  color: #999;
  background: #fff;
  width : 2em;
}