@charset "utf-8";
*{
  outline: 0;
}
#heart:hover .f-heart{
  animation : bounce-in 0.8s;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50%{
    transform: scale(1.5);
  }
  100%{
    transform: scale(1);
  }
}
.feed-item{
  position: relative;
}
[class^='feed-wrap']{
  border: 1px solid rgba(194, 183, 183, 0.5);
  position : relative;
  left : 30%;
    width : 40%;
    margin-bottom : 2em;
    .profile-image{
        border-radius: 100px 100px 100px 100px;
    } 
}
.feed-top{
  border-bottom: 1px solid rgba(194, 183, 183, 0.5);
  padding-left: 1em;
  height : 3em;
  .user-info{
    margin-top: 0.8em;
    float: left;
  }
  .user-hospital{
    margin-top: 0.8em;
    margin-right: 1em;
    float : right;
    span{
      font-size: 0.7em;
      font-weight: 700;
      margin-left: 1em;
      color: #6E6E6E;
    }
  }
  img{
    margin-top: 0.5em;
    margin-right: 1em;
    width: 2em;
    height: 2em;
    float: left;
  }
}

.feed-card{
  border-bottom: 1px solid rgba(194, 183, 183, 0.2);
  div{
    padding-left : 1em;
    padding-right : 1em;
    padding-bottom: 0.4em;
    padding-top: 0.4em;
  }
  img{
    width: 100%;
  }
  //span은 임시
  span{
    color: rgb(194, 183, 183);
  }
}

.feed-foot{
  padding-top: 0.5em;
  height : 7em;
  .feed-btn-list, .reply-list{padding-left: 1em;}
  .feed-btn-list div{
    font-size: 1.4em;
    margin-right: 0.7em;
  }
  .feed-btn-list{
    .like, .reply{float: left;}
  }
  .reply-list{
    img{
      margin-top: 0.5em;
      margin-right: 0.5em;
      width: 2em;
      height: 2em;
      float: left;
    }
    .user-info{
      margin-top: 0.8em;
      float: left;
    }
    .reply-content{
      width : 70%;
      margin-top: 0.7em;
      margin-left: 1em;
      margin-right: 1em;
      padding-left: 1em;
      border-radius: 1em 1em 1em 1em;
      border: 1px solid rgba(194, 183, 183, 0.7);
    }
    .reply-submit{
      color: #17a2b8;
      font-weight: bold;
    }
  }
}
// 리뷰 작성 부분
.review-write-btn{
  margin-top: -2em;
  margin-bottom: 2em;
  position : relative;
  border: 1px solid rgba(194, 183, 183, 0.7);
  padding: 0.2em;
  border-radius: 0em 0em 1em 1em;
  left : 30%;
  width: 4em;
  button{
    color: #17a2b8;
    font-weight: bold;
  }
}

.review-write-form{
  .review-write{
    padding-top: 1em;
    text-align: center;
    textarea{
      border: 1px solid rgba(194, 183, 183, 0.7);
    }
    img{
      width: 90%;
    }
    .review-img-upload{
      float: left;
      margin-left: 1.9em;
    }
  }
}

