@charset "utf-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import './common';
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@1.0/nanumbarungothicsubset.css");

* {
    font-family: 'NanumBarunGothic', sans-serif;
    word-break: keep-all;
    padding: 0;
    margin: 0;
}

/*html {margin: 0; padding: 0; height: 100%;}*/





input {
    outline:none;
    &[type=button],
    &[type=submit],
    &[type=radio] {
        -webkit-appearance: none;
    }
}

button {
    border: none;
    font-size: 1em;
    font-weight: 400;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.wrap {
    width: 100%;
    float: left;
}

.wrapB {
    padding: 0 10px;
    box-sizing: border-box;
}

.wrapC {
    padding: 0 20px;
    box-sizing: border-box;
}
.half {
    margin-left: auto;
    text-align: right;
    width: 50%;
}   

.red {
    color: red;
}


/*button default*/
.btn {
    &:not([disabled]) {
        &:hover,
        &:focus,
        &.active {
            box-shadow: none;
            -webkit-box-shadow: none;
        }
    }
    font-weight: 500;
    font-size: 1em;
    color: red;
    text-align:center;
    cursor:pointer;
    height: 50px;
    line-height: 58px;
    border-radius: 3px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0,
            0.1);
}

.btn-full-center {
    width: $c100;
    background-color: $myColor;
    color: #eee;
    border-radius: 3px;
    font-weight: $f600;
    box-shadow: none;
    height: 50px;
    line-height: 50px;
    margin-top: 5px;
    &.disabled {
        background: $disabledMyColor;
        cursor: default;
    }
}

.btn-bottom {
    width: calc(100% - 40px);
    background: #000;
    color: #fff;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: $f600;
    position: fixed;
    left: 20px;
    bottom: 17px;
    cursor: pointer;
    transform: rotate(.1deg);
    &.disabled {
        background: $grey;
        cursor: default;
    }
}

.btns-bottom{
    width: calc(100% - 40px);
    position: fixed;
    left: 20px;
    bottom: 17px;
    cursor: pointer;
    button {
        height: 50px;
        color:#fff;
        text-align: center;
        line-height: 50px;
        font-weight: $f600;
        background: #000;
        @include wrap;
        &:first-of-type {
            box-sizing: border-box;
            color:#000;
            border:1px solid #000;
            background: #fff;
            margin-bottom:10px;
        }
        &.half {
            width: 50%;
            float:left;
            background:#fff;
            color:#000;
            margin-bottom:0;
            border:1px solid #000;
            border-radius: 3px 0 0 3px;
            &:last-of-type {
                border-radius: 0 3px 3px 0;
            }
            &.highlight {
                background: #000;
                color:#fff;
                font-weight: $f400;
            }
            &.disabled {
                background: $grey;
                cursor: default;
                border-color:$grey;
            }
        }
        &.disabled {
            background: $grey;
            cursor: default;
        }
    }
}


.input-label {
    @include wrap;
    position: relative;
    margin-bottom: 10px;
    input[type="text"],
    input[type="password"] { 
        @include wrap;
        // input-label박스 사이즈
        height: 45px;
        line-height: 1;
        padding: 2px 60px 0 105px;
        box-sizing: border-box;
        // 평상시 박스 border
        border: 1px solid rgb(150, 150, 150);
        border-radius: 3px;
        // 마우스 오버 된 경우
        &:hover, &:focus {
            border:1px solid rgb(0, 0, 0)
        }
        &.error {
            border-radius: 3;
            border: 1px solid $red;
        }
        &.complete {
            border-radius: 3;
            border: 1px solid $myColor;
        }
        &.disabled {
            background: #eee;
            color:#333;
            font-weight: $f600;
            &:hover, &:focus {
                border:1px solid #000;
            }

        }
    }
    label {
        position: absolute;
        left: 15px;
        top: 12px;
        color: #000;
        font-weight: $f700;
        font-size: 15px;
        &.right {
            margin-left: 84%;
            border: none;
            font-size: 15px;
            font-weight: 400;
            background-color: transparent;
            outline: none;
            cursor: pointer;
        }
        &.authRight {
            margin-left: 79%;
            font-weight: 400;
        }
    }

    .error-text {
        @include wrap;
        color: $red;
        margin-top: 3px;
        margin-left: 9px;
    }
}



@media (min-width: 1200px) {

    .wrapC {
        max-width: 580px;
        width: 100%;
        margin:0 auto;
    }
}
